* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

span, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header-wrap{
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.main-wrap{
  display: flex;
  justify-content: space-between;
}
.book-img{
  max-width: 200px;
  margin-top: 15px;
}
.book__title{
  min-height: 70px;
}
.book__year{
  display: block;
  margin-top: 15px;
  text-align: start;
}
.form_list{
  max-width: 600px !important;
  width: 100%;
}


